.GMap__Wrapper {
  height: 100%!important;
}
.mx-datepicker {
  width: 100%!important;
}

/*.recommendations-panel {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*  width: 300px;*/
/*  height: 100%;*/
/*  background-color: white;*/
/*  border-left: 1px solid #ccc;*/
/*  overflow: scroll;*/
/*}*/

.modal-content {
  overflow-y: scroll;
  max-height: 90vh;
}



